*{
  margin:0px;
}

html{
  height:100%;
}

a{
  text-decoration:none;
}

body{
  height:100%;
  margin:0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

h2{
  text-align: center;
  margin-bottom: 8%;
  color: #A28089;
  font-size: 3rem;
}

.external-links{
  margin-left: 10%;
}

.external-links img{
  height:30px;
  width:30px;
  margin-top:20px;
}

img{
  width:100%;
  height:auto;
}

video{
  width:100%;
  height:auto;
}

.navbar{
  color: #E5EAF5;
  margin-left:20%
}

.navbar:hover{
  cursor: default;
}

.above-fold-container{
  color: #A28089;
  height: 70%;
  background-color: #E5EAF5;
}

.header-name{
  margin-top:18%;
  margin-bottom:1%;
  font-size: 4rem;
  margin-left: 10%;
}

.header-title{
  font-size: 2rem;
  margin-bottom:1%;
  margin-left: 10%;
}

.header-description{
  width:40%;
  margin-left: 10%;
}

.link-two{
  margin-left:5%;
}

.portfolio{
  margin: 0 10% 0 10%;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.project-title{
  font-size: 2rem;
  font-weight: bold;
  color: #A28089 !important;
  margin-bottom: 5%;
}

.project-details{
  color: #A0D2EB;
  font-weight: bold;
  margin:0 10% 0 10%;
}

.project-details-keyword{
  color: #8458B3;
}

.project-details.top{
  margin-bottom:5%;
}

.project-links img{
  width:5%;
}

.project-img img, video{
  border: solid;
  border-color: #E5EAF5;
  width:100%;
  height:100%;
}

a:hover{
  opacity:60%
}

.footer{
  background-color:#E5EAF5;
  margin-top:-10px;
  min-height: 20%
}

.contact-container{
  margin-left:10%;
  font-weight: bold;
  font-size: 1.2rem;
  color: #A28089;
}

.contact{
  color:#8458B3;
  font-size: 1.6rem;
  margin-bottom:1%;
}

.footer,a{
  color: #A28089;
}


@media only screen and (max-width: 800px){
  .header-name{
    font-size: 2rem;
    margin-top:40%;
  }
  
  .header-title{
    font-size: 1.2rem;
    margin-bottom:3%;
    margin-left: 10%;
  }
  
  .header-description{
    width:80%;
    font-size:0.8rem;
    margin-left: 10%;
  }

  h2{
    font-size:2rem;
    margin-bottom:20%
  }

  .external-links img{
    height:20px;
    width:20px;
    margin-top:15px;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    background-color: #fff;
    color: #444;
  }

  .box {
    padding: 0px;
  }

  .project-title{
    font-size: 1.6rem;
  }
  
  .project-details{
    font-size: 0.8em;
  }

  .project-links img{
    width: 8%;
  }

  .contact-container{
    font-size: 0.8rem;
  }
  
  .contact{
    margin-bottom:2%;
  }
}