.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}
body{
  font-family:Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  cursor:default;
}

.Nav-Bar{
  color: white;
}
a{
  color:white !important;
}
#Footerthing {
  background-color: #222;
  padding: 20px;
  color: white;
}
.H_Container{
  border: 5px;
  border-color: white;
  border-style: solid;
  text-align: right;
  color:white;
  padding:5px;
  background-color: black;
}
.App-title {
  font-size: 32px;
}

.App-intro {
  font-size: large;
}

.Nametext{
  color: white;
  font-size: 120px;

}
.Nametext:hover{
  cursor:default;
}
svg{
  opacity: .5;
}

.dash{
  font-size: 20px;
}

.dash:hover{
  cursor: default;
}

.descriptext{
  color:white;
  font-size:18px ;
}

.PhotoLinks{
  background-color: rgb(52, 58, 64, .6);
}

.myDescription,.currentWorks,.mySkills,.selectedWorks,.myResume{
  font-size: 20px;
}

.myDescription:hover{
  cursor:pointer;
  opacity:.7;
}
#Current{
  background-color: white;
}
#blogLinks{
  color: rgb(52, 58, 64) !important;
  font-weight: bold;
}
.currentWorks:hover{
  cursor:pointer;
  opacity:.7;
}
.mySkills:hover{
  cursor:pointer;
  opacity:.7;
}
.selectedWorks:hover{
  cursor:pointer;
  opacity:.7;
}
.myResume:hover{
  cursor:pointer;
  opacity:.7;
  text-decoration: none;
}

.resumeLink:hover{
  text-decoration: none;
}

.down-arrow:hover{
  cursor:pointer;
}
#AboutMe{
  background-color: rgb(52, 58, 64);
  color:white;
}
#SelectedWorks{
  background-color: white;
}
#myFacePic{
  width:300px;
  height:300px;
  border-radius: 50%;
}
#SUSAlogo{
  width:300px;
}
#FFClogo{
  width:200px;
}
#housingcrisis{
  width:400px;
}
#housingcrisis:hover{
  box-shadow: 0 0 5px 3px rgba(52, 58, 64, 0.5);
  opacity:.9;
}
#popmodeling{
  width:400px;
}
#popmodeling:hover{
  box-shadow: 0 0 5px 3px rgba(52, 58, 64, 0.5);
  opacity:.9;
}
#Github{
  width:auto;
  height:auto;
}
#Linkedin{
  width:auto;
  height:auto;
}

#parallax{
  /* The image used */
  background-image: url(./images/background3maxblack.jpg);
    /* Full height */
    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {box-sizing:border-box}


.skillContainer {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.SelectedWorks{
  background-color: white;
}

.html {
  width: 95%;
  background-color: rgb(52, 58, 64,.95);
  }
.js {
  width: 85%;
  background-color: rgb(52, 58, 64,.85);
  }
.react {
  width: 80%;
  background-color: rgb(52, 58, 64,.8);
  }
.r {
  width: 70%;
  background-color: rgb(52, 58, 64,.8);
  }
.python {
  width: 70%;
  background-color: rgb(52, 58, 64,.7);
  }
.node {
  width: 65%;
  background-color: rgb(52, 58, 64,.65);
}
.django {
  width: 65%;
  background-color: rgb(52, 58, 64,.65);
}
.ts {
  width: 55%;
  background-color: rgb(52, 58, 64,.55);
  }

 #Skills{
   text-align: left;
   background-color: white;
   align-items:baseline;
 }
